body {
    background-color: #F8F8FF;
}

h2 {
    font-family: Arial, sans-serif;
    color: #;
}

input {
    width: 10%;
    padding: 8px 20px;
    margin: 8px 0;
    border: 2px solid #708090;
    border-radius: 2px;
}

th {
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
    height: 20px;
    text-align: left;
    color: #;
}

td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #696969;
}

table {
    width: 50%;
}

#addEmployee{
  margin-bottom: 2px;
}

#allEmployees {
  margin-top: -10px;
}

#listOfEmployees{
  padding-top: 15px;
}

#monthlySalary {
    font-family: Arial, sans-serif;
    font-weight: lighter;
}

#submitButton {
    border-radius: 5px;
    color: black;
    font-size: 12px;
    background-color: white;
    opacity: 0.8;
    vertical-align: middle;
}

.deleteEmployeeButton {
  background-color: #FF7260;
  font-weight: bold;
  opacity: .75;
  border-radius: 5px;
}
