body {
    background-color: #F8F8FF;
}

h2 {
    font-family: Arial, sans-serif;
    color: #;
}

#monthlySalary {
    font-family: Arial, sans-serif;
    font-weight: lighter;
}

input {
    width: 10%;
    padding: 8px 20px;
    margin: 8px 0;
    border: 2px solid #708090;
    border-radius: 2px;
}

th {
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
    height: 20px;
    text-align: left;
    color: #;
}

td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #696969;
}

table {
    width: 50%;
}

#submitButton {
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 10px;
}
